@charset "UTF-8";
/* CSS Document */
#wrapper { width: 900px;
margin: 0 auto;
text-align: center; }
#ala_image {
border: black 5px solid;
}
#ala_programs { display: none;
border: black 5px solid; }

.choices {
cursor: pointer;
}
a{
padding: 15px;
margin: 3px;
font-size: 125%;
background-color: #000000; color: #FFFFFF;
}
body {
          background-color:#6699CC;   /* background color */
          color: #000000;          /* text color for the page */
          font-size: 12px;
          font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
a:hover { font-size:200%;
background-color: #ffffff;
color: #000000; }
